In [1]:
import pandas as pd

# funkcja sortują pythona; zwraca osobną posortowaną listę nie zmianiając w ten sposób typu struktury; działa też na strukturach które nie są listami.
print(f"sorted((20,10,1,12)) = {sorted( (20,10,1,12) ), sorted( [20.0,10.12,1,12] )}") 

dataFrame = pd.DataFrame({ #Deklaracja tabeli za pomocą słownika
    'Name': ['Rose','John', 'Jane', 'Mary'], 
    'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
    'Salary':[100000, 80000, 50000, 60000]
})
display(dataFrame) #Pozwala renderować ładnie tabele tak by nadal używać tego bloku tekstu.
print(dataFrame)

x = None # przypisanie żadnej wartości; inicjacja zmiennej.

sorted((20,10,1,12)) = ([1, 10, 12, 20], [1, 10.12, 12, 20.0])

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

NameError: name 'none' is not defined

In [ ]:
path=os.path.join(os.getcwd(),'image.png')
path